<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

          <!--шрифт-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">


        <!--иконки-->
    <script src="https://use.fontawesome.com/e2a37f48be.js"></script>

    <title>ER/УР</title>
<body>
        <!--верхние иконки-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f3fd;">
        <div class="container-fluid">
        <a class="navbar-brand" href="web.html">ER/УР</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="web.html">Home/Глав.стр.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news.html">News/Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rating/Рейтинг</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

<!-- Begin page content -->
<div class="container mt-5">
    <h1>Добавление данных</h1>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="email.html">Сообщение</a></li>
    <li class="breadcrumb-item active" aria-current="page">> email</li>
  </ol>
</nav>
    <form method="post">
        <input type="text" name="studying" id="studying" class="form-control" placeholder="учёба"><br>
        <input type="text" name="name" id="name" class="form-control" placeholder="имя"><br>
        <input type="text" name="surname" id="surname" class="form-control" placeholder="фамилия"><br>
        <input type="text" name="patronymic" id="paronymic" class="form-control" placeholder="почта"><br>
        <input type="text" name="clas" id="clas" class="form-control" placeholder="класс"><br>
        <input type="text" name="username" id="username" class="form-control" placeholder="имя пользователя"><br>
        <input type="text" name="five" id="five" class="form-control" placeholder="5"><br>
        <input type="text" name="four" id="four" class="form-control" placeholder="4"><br>
        <input type="text" name="three" id="three" class="form-control" placeholder="3"><br>
        <input type="text" name="two" id="two" class="form-control" placeholder="2"><br>
        <textarea name="concerts" id="concerts" class="form-control" placeholder="мероприятия"></textarea><br>
        <textarea name="achievements" id="achievements" class="form-control" placeholder="достижения"></textarea><br>
        <textarea name="goverment" id="goverment" class="form-control" placeholder="совет"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
</div>
</main>
</body>
</html>