<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">


          <!--шрифт-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

        <!--иконки-->
    <script src="https://use.fontawesome.com/e2a37f48be.js"></script>
    <form action="/predict" method="POST"></form>
    <title>ER/УР news</title>

        <!--верхние иконки-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f3fd;">
        <div class="container-fluid">
        <a class="navbar-brand" href="web.html">ER/УР</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="web.html">Home/Гл.страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Info/Инфо</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rating/Рейтинг</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <!--основа сайта: текст, картинки-->
    <p class="text-center fw-weight-lighter fs-5
     lh-lg"><i class="fa fa-comment-o" aria-hidden="true"></i>News - Educational Resource</p>
<link rel="stylesheet" href="main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>


  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/vps33.jpg" alt="Выпускной" width="1600" height="600">
    </div>
    <div class="carousel-item">
      <img src="static/girl1.png" alt="Учёба" width="1600" height="600">
    </div>
    <div class="carousel-item">
      <img src="static/ps.jpg" alt="Экзамены" width="1600" height="600">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br>
    <div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Государственный выпускной экзамен</h4>
  <p>ГВЭ - относится к итоговым аттестациям школьников, но встречается гораздо реже, чем ЕГЭ и ОГЭ.
      ГВЭ - это разновидность государственной итоговой аттестации, которую сдают школьники 9 и 11 классов
      в Российской Федерации.</p>
  <hr>
  <p class="mb-0">Утверждённое расписание на 2023 год.</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Дата проведения ЕГЭ</th>
      <th scope="col">Экзамен</th>
      <th scope="col">Дата проведения ОГЭ</th>
      <th scope="col">Экзамен</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>26 мая (пятница)</td>
      <td>география, литература, химия</td>
      <td>24 мая (среда)</td>
      <td>история, физика, биология</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>29 мая (понедельник)</td>
      <td>русский язык</td>
      <td>30 мая (вторник)</td>
      <td>обществознание, информатика и информационно-коммуникационные технологии (ИКТ), география, химия</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>1 июня (четверг)</td>
      <td>математика базового уровня, математика профильного уровня</td>
      <td>2 июня (пятница), 3 июня (суббота)</td>
      <td>иностранные языки (английский, французский, немецкий, испанский)</td>
    </tr>
  <tr>
      <th scope="row">4</th>
      <td>25 июня (понедельник)</td>
      <td>история, физика</td>
      <td>6 июня (вторник)</td>
      <td>русский язык</td>
    </tr>
  <tr>
      <th scope="row">5</th>
      <td>8 июня (четверг)</td>
      <td>обществознание</td>
      <td>9 июня (пятница)</td>
      <td>математика</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>13 июня (вторник)</td>
      <td>иностранные языки (за исключением раздела "Говорение"), биология</td>
      <td>14 июня (среда)</td>
        <td>литература, физика, информатика и информационно-коммуникационные технологии (ИКТ), география</td>
    </tr>
  <tr>
      <th scope="row">7</th>
      <td>16 июня (пятница), 17 июня (суббота)</td>
      <td>иностранные языки (раздел "Говорение")</td>
      <td>17 июня (суббота)</td>
      <td>обществознание, биология, химия</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>19 июня (понедельник), 20 июня (вторник)</td>
      <td>информатика</td>

    </tr>
  </tbody>
</table>

    </div>
        <img src="static/sea11.jpg" class="img-fluid" alt="...">


    <script scr="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-JEW9xMH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"> </script>
    </head>
<body>

</body>
</html>